<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/MyWorkspacePat/pat_Auto">
        <parameter name="browser" value= "chrome" />
        <classes><class name="com.Pat.TestCases.Tc_DDT_Login">
            <methods><include name="Login"/></methods>
        </class>
        </classes>
    </test>

</suite>